@model IEnumerable<GestFilm.Models.Data.User>

    <p>
        @*Ajouter un nouveau membre*@
        @ViewBag.Token
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            
            @if (item.Id != (int)ViewBag.Message)
            {
                <td>
                    @Html.ActionLink("Retirer du groupe", "Delete", new { idUser = item.Id })
                </td>
            }
        </tr>
}
    </tbody>
</table>
