@model IEnumerable<GestFilm.Models.Data.User>


<h1>Liste des membres du groupe</h1>
<hr />
<div>
    @Html.ActionLink("Ajouter un membre au groupe", "Search", new { id = ViewBag.IdGroup })
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Prénom
            </th>
            <th>
                Nom
            </th>
            <th>
                Pseudo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>

                @if (item.Id != (int)ViewBag.Message)
                {
                    <td>
                        @Html.ActionLink("Retirer du groupe", "Delete", new { idUser = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
