@model GestFilm.Forms.InfoGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details du groupe</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editer le groupe", "Edit", new { id = Model.Id }) |
    <a asp-controller="Event" asp-action="Create" asp-route-id="@Model.Id">Ajouter un event</a> |
    <a asp-controller="User" asp-action="List" asp-route-id="@Model.Id">Liste des membres du groupe</a> |
    @Html.ActionLink("Ajouter un membre", "AddUser", new { id = Model.Id }) |
    <a asp-action="Index">Retour à la liste des groupes</a>
</div>
<table class ="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nom
            </th>
            <th>
                Film
            </th>
            <th>
                Date
            </th>
            <th>
                Date validé ? 
            </th>
            <th>
                Film validé ?
            </th>
            <th>
                Id du groupe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Film)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDateValid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFilmValid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupId)
                </td>
                <td>
                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">Editer</a> |
                    <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Event" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
