@model IEnumerable<GestFilm.Models.Data.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste de mes groupes</h1>

<p>
    <a asp-action="Create">Créer un nouveau groupe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }) |
                <a asp-controller="User" asp-action="List" asp-route-id="@item.Id">Liste des membres du groupe</a> |
                <a asp-controller="User" asp-action="Search" asp-route-idGroup="@item.Id">Ajouter un membre</a> |
                <a asp-controller="Event" asp-action="Create" asp-route-id="@item.Id">Ajouter un event</a>
            </td>
        </tr>
}
    </tbody>
</table>
